* {
  margin: 0px;
  color: white;
}

.navmenu {
  background-color: black;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navmenu a.active {
  background-color: orange;
  color: blue;
}

.header-nav-other:hover {
  color: gray;
}

.header-nav-other {
  text-decoration: none;
  color: white;
  float: right;
  text-align: right;
  padding: 14px 16px;
  font-size: 17px;
}

.header-nav-logo {
  text-decoration: none;
  color: white;
  float: left;
  text-align: left;
  padding: 14px 16px;
  font-size: 17px;
}

.company_title_container {
  margin-top: 45px;
  background-color: black;
}

.company_title {
  padding-top: 100px;
  font-weight: 900;
  font-size: 80px;
  text-align: center;
}

#jenkinson {
  color: rgba(254, 108, 9, 255);
}

#enterprises {
  color: rgba(0, 0, 254, 255);
}

#llc {
  color: rgba(254, 108, 9, 255);
}

.top_left {
  background-color: black;
  margin-top: 40px;
  float: left;
  width: 70%;
}

#company_motto {
  padding-top: 100px;
  padding-left: 25px;
  font-weight: 500;
  font-size: 45px;
  color: white;
}

#company_indepth {
  font-size: 25px;
  padding-top: 50px;
  padding-left: 25px;
  color: white;
}

#leading_solutions {
  font-size: 25px;
  padding-top: 50px;
  padding-left: 25px;
  color: white;
}

.top_right {
  background-color: black;
  /*height: 400px;*/
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.company_picture {
  padding-left: 100px;
  padding-top: 300px;
  height: auto;
  width: auto;
}

.howit_container {
  background-color: black;
  padding-top: 400px;
}

#howit_title {
  text-align: center;
  font-size: 30px;
  font-weight: 550;
  color: white;
}

.description {
  color: white;
  font-size: 23px;
  font-weight: 300;
  text-align: center;
}

.howit_desc_container {
  width: 300px;
  background-color: black;
  float: left;
  padding-left: 125px;
}

.container_for_steps {
  background-color: black;
  padding-top: 75px;
  float: left;
  width: 100%;
}

.organizations_container {
  background-color: black;
  padding-top: 300px;
}

/*
#organizaton_title {
  color: white;
  text-align: center;
  font-size: 50px;
  font-weight: 550;
  padding-top: 250px;
}*/

.frow_pictures {
  width: 15%;
  padding-top: 50px;
  padding-left: 100px;
}

#airforce {
  padding-left: 100px;
}

#boeing {
  border-radius: 50px;
}

#exxon {
  padding-bottom: 50px;
}

.srow_pictures {
  width: 15%;
  padding-top: 50px;
  padding-left: 100px;
}

#army {
  padding-left: 75px;
  height: 250px;
  width: 250px;
}

#nasa {
  padding-left: 60px;
  padding-bottom: 10px;
  height: 225px;
  width: 260px;
}

#unitedtech {
  padding-bottom: 50px;
  padding-left: 90px;
}

#kbr {
  padding-bottom: 50px;
  padding-left: 80px;
}

.experience_container {
  background-color: black;
  padding-top: 100px;
}

/*
.experience_title_container {
  /*padding-left: 75px; 
  width: 50%;
  overflow-x: hidden;
  float: left;
  background-color: black;
} */

.experience_desc_container {
  float: left;
  background-color: black;
  width: 100%;
  text-align: center;
}
/*
.experience_title {
  font-size: 50px;
  padding-left: 100px;
} */

.experience_description {
  font-size: x-large;
  padding-inline: 100px;
}

.faq_container {
  background-color: black;
  padding-top: 200px;
  text-align: center;
}

.faq_title {
  color: white;
  font-size: 50px;
  font-weight: 550;
}

.faq_descr_container {
  padding-top: 25px;
  margin-inline: 100px;
}

.faq_description {
  font-size: 25px;
}

.started_container {
  padding-top: 100px;
  background-color: black;
}

.started_title_container {
  text-align: center;
}

.started_contactus_container {
  padding-top: 30px;
  text-align: center;
}

.started_title {
  color: white;
  font-size: 50px;
  font-weight: 550;
}

.contactus {
  font-size: 40px;
  font-weight: 400;
}

.address_name_container {
  width: 50%;
  float: left;
  background-color: black;
  padding-top: 50px;
}

.address_name {
  padding-left: 250px;
}

.office_container {
  width: 50%;
  float: left;
  background-color: black;
  padding-top: 50px;
}

.office {
  padding-left: 200px;
}

.ending {
  padding-top: 200px;
  padding-bottom: 50px;
  background-color: black;
  text-align: center;
}

.footer {
  background-color: black;
}

.performance {
  color: rgb(82, 132, 241);
}

.sales {
  color: orange;
}

.profits {
  color: rgb(12, 233, 12);
}
