* {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0px;
}

/*
img {
  width: 100px;
  border-radius: 50px;
  border-color: red;
  margin-right: 10px;
}

p.companyName {
  font-weight: bold;
  color: red;
}

h1 {
  font-weight: 500;
  font-size: 30px;
}

h2 {
  font-size: 30px;
}
*/

.navmenu {
  background-color: black;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navmenu a.active {
  background-color: orange;
  color: blue;
}

.header-nav-other:hover {
  color: gray;
  /*background-color: orange;*/
}

/*.header-nav-logo:hover {
  color: gray;
}*/

.header-nav-other {
  text-decoration: none;
  color: white;
  float: right;
  text-align: right;
  padding: 14px 16px;
  font-size: 17px;
}

.header-nav-logo {
  text-decoration: none;
  color: white;
  float: left;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top_left {
  background-color: black;
  margin-top: 45px;
  float: left;
  width: 1000px;
}

#company_motto {
  padding-top: 100px;
  padding-left: 25px;
  font-weight: 900;
  font-size: 50px;
  color: white;
}

#company_indepth {
  font-size: 25px;
  padding-top: 50px;
  padding-left: 25px;
  color: white;
}

.top_right {
  background-color: black;
  height: 400px;
}

.company_picture {
  padding-left: 150px;
  padding-top: 100px;
}

.howit_container {
  background-color: black;
  padding-top: 150px;
}

#howit_title {
  text-align: center;
  font-size: 30px;
  font-weight: 550;
  color: white;
}

.description {
  color: white;
  font-size: 23px;
  font-weight: 300;
  text-align: center;
}

.howit_desc_container {
  width: 300px;
  background-color: black;
  float: left;
  padding-left: 125px;
}

.container_for_steps {
  background-color: black;
  padding-top: 75px;
  float: left;
  width: 100%;
}

.organizations_container {
  background-color: black;
  padding-top: 300px;
}

#organizaton_title {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: 550;
}

.frow_pictures {
  width: 200px;
  /*border-radius: 100px;*/
  padding-left: 75px;
}

#boeing {
  border-radius: 50px;
}

#exxon {
  border-radius: 0px;
  padding-bottom: 50px;
}

.srow_pictures {
  width: 250px;
  border-radius: 100px;
}

#nasa {
  height: 250px;
  width: 475px;
}

#unitedtech {
  border-radius: 0px;
  padding-bottom: 50px;
}

#kbr {
  border-radius: 0px;
  padding-bottom: 50px;
}
